<% content_for :head do %>
    <%= stylesheet_link_tag "nomalize"%>
    <%= stylesheet_link_tag "demo"%>
    <%= stylesheet_link_tag "icons"%>
    <%= stylesheet_link_tag "component"%>
    <%= javascript_include_tag "modernizr" %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<% end %>
<div class="container-fluid" style="padding-left: 0px; height: 720px;">
    <div class="mp-pusher" id="mp-pusher" style="transform: translate3d(200px, 0px, 0px);">
        <%= render "layouts/leftside" %>
        <div class="scroller">
            <div class="scroller-inner">
                <%= render "layouts/scrollerhead" %>
                <div class="content">
                    <%= form_for :student, url: admin_student_path(@student, :user => @user.no), method: :patch do |f| %>
                    <% if @student.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@student.errors.count, "error") %> prohibited
                          this student from being saved:</h2>
                        <ul>
                        <% @student.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                      <% end %>
                      <table class="table table-bordered" style="width: 80%; margin-top: 30px;">
                        <tr>
                          <td><%= f.label "学号" %></td>
                          <td><%= f.text_field :sno %></td>
                        </tr>
                        <tr>
                          <td><%= f.label '名字' %></td>
                          <td><%= f.text_area :sname %></td>
                        </tr>
                        <tr>
                          <td><%= f.label '性别' %></td>
                          <td><%= f.text_field :ssex %></td>
                        </tr>
                        <tr>
                          <td><%= f.label '籍贯' %></td>
                          <td><%= f.text_field :splace %></td>
                        </tr>
                        <tr>
                          <td><%= f.label '入学年份' %></td>
                          <td><%= f.text_area :sgetin %></td>
                        </tr>
                        <tr>
                          <td><%= f.label '学制' %></td>
                          <td><%= f.text_area :schooling %></td>
                        </tr>
                        <tr>
                          <td><%= f.label '民族' %></td>
                          <td><%= f.text_area :snation %></td>
                        </tr>
                        <tr>
                          <td><%= f.label '班级' %></td>
                          <td><%= select_tag(:cla_id, options_from_collection_for_select(Cla.all, :id, :clname)) %></td>
                        </tr>
                        <tr>
                          <td><%= f.label '出生日期' %></td>
                          <td><%= f.text_area :sbirthday %></td>
                        </tr>
                        <tr>
                          <td><%= f.label '身份证号' %></td>
                          <td><%= f.text_area :spassport %></td>
                        </tr>
                      </table>
                     <div style="margin-left: 500px;"><input type="submit" value=" 提交 " class="btn btn-info" /></div>
                    <% end %>
                </div>
                <%= render "layouts/scrollerfoot" %>
            </div>
        </div>
    </div>
</div>
<%= javascript_include_tag "classie" %>
<%= javascript_include_tag "mlpushmenu" %>
<script>
    new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ), {
        type : 'cover'
    } );
</script>